@charset "UTF-8";
@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/Ubuntu-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff") format("woff"); }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu.woff") format("woff"); }

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.42;
  position: relative; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  /* min-width: 1100px; ширина макета */ }

.container {
  max-width: 58.75rem;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 58.75rem; }

a {
  color: white;
  text-decoration: none; }

.intro {
  background: url(../img/bg/video-bg.png) center center no-repeat;
  background-size: cover;
  min-width: initial;
  position: relative; }

.header {
  /* border: 1px solid red; */
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*задали flex*/
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /*flex центровка внутренних блоков по вертикали*/
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*flex выравниваем блоки внутри*/ }
  .header__logo {
    margin-right: auto;
    /*flex оттолкнул все блоки вправо*/
    padding-top: 0.3125rem; }
  .header__menu {
    margin-top: -0.5rem; }
    @media screen and (max-width: 768px) {
      .header__menu {
        display: none; } }
  .header__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -0.1875rem; }

.logo, .nav-link, .order-link {
  display: block; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  /*текст в li по центру*/ }
  .nav__item:after {
    display: inline-block;
    /*рисуем точки после li*/
    vertical-align: middle;
    content: ' ';
    width: 0.1875rem;
    height: 0.1875rem;
    border-radius: 0.09375rem;
    background-color: #fff;
    margin: 0 0.75rem;
    /*ставим по центру между li*/ }
  .nav__item:last-child {
    margin-right: 0.9375rem;
    /*поставил отступ после крайней  li*/ }
    .nav__item:last-child:after {
      display: none;
      /*убрал точку после крайней  li*/ }

.nav__link {
  font-family: "Ubuntu-Medium";
  font-size: 0.8125rem;
  text-transform: uppercase; }
  .nav__link:hover {
    font-weight: bold; }

.order-link {
  padding: 0.5rem 0.9375rem;
  border-radius: 0.3125rem;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-family: "Ubuntu-Medium";
  font-size: 0.8125rem;
  text-transform: uppercase;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .order-link:hover {
    opacity: 0.7; }

.intro__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /*flex центровка внутренних блоков по вертикали*/ }

.intro__drops {
  width: 50%;
  padding-left: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .intro__drops {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.intro__img {
  margin-top: -0.6875rem;
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%; }

.intro__description {
  width: 50%;
  padding-top: 3.4375rem;
  padding-left: 0.625rem; }
  .intro__description-title {
    font-family: "Gagalin-Regular";
    font-size: 4.5rem;
    line-height: 5.3125rem;
    color: #f9b43b; }
  .intro__description-text {
    display: inline-block;
    padding-top: 1.25rem;
    font-family: "Lifehack-Medium";
    font-size: 4.0625rem;
    line-height: 3.875rem;
    color: #ffffff;
    letter-spacing: -0.0625rem; }
  @media screen and (max-width: 768px) {
    .intro__description {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.intro-arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3.125rem;
  text-align: center; }

.intro-arrow__icon {
  height: 1.25rem;
  width: 2.1875rem;
  fill: red; }

.best {
  background: url(../img/bg/bestImg.png) center center no-repeat;
  background-size: cover;
  /*растягиваем на всю ширину окна*/
  padding-top: 4.375rem;
  padding-bottom: 1.25rem; }

.best__title {
  font-family: "Gagalin-Regular";
  font-size: 4.5rem;
  line-height: 4rem;
  color: #2f3234;
  text-align: center;
  margin-bottom: 5.3125rem; }

.best-list__item {
  display: inline-block;
  vertical-align: top;
  /*блоки в li по верху*/
  text-align: center;
  width: 33%; }

.best-list__img {
  margin-bottom: 1.875rem; }

.best-list__title {
  font-family: "Lifehack-Medium";
  font-size: 1.50625rem;
  color: #2f3234;
  margin-bottom: 0.625rem; }

.best-list__description {
  font-family: "Ubuntu-Light";
  font-size: 0.87687rem;
  line-height: 1.50313rem;
  color: #2f3234; }

.burgers {
  height: 100vh;
  min-height: 650px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(40%, #eb8c38), color-stop(60%, #f19e39), color-stop(80%, #eb8e38), to(#f9b33b));
  background: -webkit-linear-gradient(top, #f9b43b 0%, #eb8c38 40%, #f19e39 60%, #eb8e38 80%, #f9b33b 100%);
  background: -o-linear-gradient(top, #f9b43b 0%, #eb8c38 40%, #f19e39 60%, #eb8e38 80%, #f9b33b 100%);
  background: linear-gradient(180deg, #f9b43b 0%, #eb8c38 40%, #f19e39 60%, #eb8e38 80%, #f9b33b 100%); }

.burger-slider-wrap {
  position: relative;
  padding: 20px 0;
  overflow: hidden; }

.burger-slider__btn_prev {
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 30px;
  height: 20px;
  fill: #fff;
  z-index: 2; }

.burger-slider__btn_next {
  position: absolute;
  top: 50%;
  right: -30px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 30px;
  height: 20px;
  fill: black;
  z-index: 2; }

.burgers-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4700px;
  overflow: hidden; }

.burger-slider-item {
  width: 940px;
  position: relative;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.ingredients {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(227, 80, 40, 0.4);
  width: 90px;
  height: 90px;
  border-radius: .5px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .ingredients__icon {
    width: 100%;
    height: 60%;
    fill: #fff; }
    .ingredients__icon-text {
      color: #fff;
      font-size: 14px;
      font-family: 'Gagalin';
      text-align: center; }

.ingredients__dropdown {
  position: absolute;
  left: 90px;
  padding: 20px;
  background: #fef8ec;
  opacity: 0.9;
  width: 270px;
  border-radius: 5px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1;
  top: 0; }

.burger-weight {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5; }
  .burger-weight__wrap {
    background: url(../img/burgers-slider/kkal.svg) 50% no-repeat;
    width: 60px;
    height: 60px;
    position: relative;
    background-size: contain; }
    .burger-weight__wrap-amount {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      font-family: "Gagalin-Regular";
      font-size: 20px;
      color: #fff;
      text-align: center; }
  .burger-weight__measure {
    font-family: "Gagalin-Regular";
    font-size: 14px;
    color: #fff;
    text-align: center; }

.burgers-slider__item {
  position: relative;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.burgers-slider__left {
  text-align: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.burgers-slider__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .burgers-slider__right-title {
    font-family: "Gagalin-Regular";
    font-size: 72px;
    line-height: 64px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 45px; }
  .burgers-slider__right-text {
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px; }

.burgers-slider__price {
  display: inline-block;
  vertical-align: middle;
  color: #e35028;
  font-family: 'Gagalin-Regular'; }
  .burgers-slider__price-amount {
    display: inline-block;
    vertical-align: bottom;
    font-size: 72px;
    line-height: 1; }
  .burgers-slider__price-measure {
    display: inline-block;
    vertical-align: bottom;
    font-size: 30px;
    line-height: 1; }

.burgers-slider__right-buy {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 30px;
  background: #e45028;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 13px;
  font-family: 'Ubuntu-Light'; }

.team {
  background: url("../img/bg/bg-team.png") center center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 650px; }

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 49%;
  background: rgba(50, 52, 54, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.team__content {
  width: 70.37037%;
  padding-top: 63px;
  padding-left: 5px; }

.team__title {
  font-family: 'Gagalin-Regular';
  font-size: 72px;
  color: #f9b43b;
  margin-bottom: 63px; }

.team-accordeon__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px; }
  .team-accordeon__item.active {
    margin-bottom: 25px; }
    .team-accordeon__item.active .team-accordeon__title {
      color: #f9b43b; }
      .team-accordeon__item.active .team-accordeon__title:before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    .team-accordeon__item.active .team-accordeon__content {
      height: auto; }

.team-accordeon__title {
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  color: #fff;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.team-accordeon__title:before {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: none;
  border-top-color: #f9b43b;
  margin-right: 10px; }

.team-accordeon__content {
  margin-left: 18px;
  height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.team-accordeon__avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  position: relative; }

.team-accordeon__avatar-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%; }

.team-accordeon__description {
  margin-left: 20px;
  padding-top: 2px;
  padding-right: 5px; }

.team-accordeon__desc-occupation {
  font-family: 'Ubuntu-Bold';
  font-weight: 900;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 10px; }

.team-accordeon__desc-text {
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px; }

.food-menu {
  background: url("../img/bg/bg-food-menu.png") center center no-repeat;
  background-size: cover;
  padding-top: 100px;
  position: relative;
  height: 100vh;
  min-height: 650px;
  position: relative; }

.food-menu__title {
  font-family: "Gagalin-Regular";
  font-size: 72px;
  line-height: 1;
  color: #fff; }

.food-menu__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.food-accordeon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.food-accordeon__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .food-accordeon__item_active .food-accordeon__popup {
    padding: 60px 30px;
    width: 540px;
    color: white; }

.food-accordeon__type {
  position: relative; }
  .food-accordeon__type_bg-meat {
    background: url("../img/food-menu/meat-menu.png");
    background-size: cover; }
  .food-accordeon__type_bg-veget {
    background: url("../img/food-menu/veget-menu.png");
    background-size: cover; }
  .food-accordeon__type_bg-diet {
    background: url("../img/food-menu/diet-menu.png");
    background-size: cover; }

.food-accordeon__wrapper {
  width: 80px; }

.food-accordeon__link {
  font-family: 'Gagalin-Regular', serif;
  font-size: 40px;
  line-height: 64px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap; }

.food-accordeon__popup {
  background-color: rgba(47, 50, 52, 0.93);
  font-weight: 300;
  width: 0;
  padding: 0;
  overflow: hidden; }

.comments {
  height: 100vh;
  min-height: 650px;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 100vw; }

.comments-list__item {
  display: inline-block;
  min-height: 50vh;
  width: 25vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative;
  overflow: hidden; }
  .comments-list__item:hover .comments-list__description {
    display: block; }

.comments-list {
  font-size: 0;
  /*убрал отступ между блоками inline-block*/ }
  .comments-list__img1 {
    background: url(../img/comments/12.png) center;
    background-size: cover; }
  .comments-list__img2 {
    background: url(../img/comments/2.png) center;
    background-size: cover; }
  .comments-list__img3 {
    background: url(../img/comments/3.png) center;
    background-size: cover; }
  .comments-list__img4 {
    background: url(../img/comments/4.png) center;
    background-size: cover; }
  .comments-list__img5 {
    background: url(../img/comments/5.png) center;
    background-size: cover; }
  .comments-list__img6 {
    background: url(../img/comments/6.png) center;
    background-size: cover; }
  .comments-list__img7 {
    background: url(../img/comments/7.png) center;
    background-size: cover; }
  .comments-list__img8 {
    background: url(../img/comments/8.png) center;
    background-size: cover; }

.comments-list__description {
  position: absolute;
  /* Подменю позиционируются абсолютно */
  display: none;
  /* Скрываем подменю */
  height: 100%;
  width: 100%;
  z-index: 20;
  padding: 50px 30px 10px 20px;
  background-color: rgba(20, 20, 20, 0.7); }

.comments-list__description-name {
  font-family: "Gagalin-Regular";
  font-size: 14px;
  line-height: 28,11px;
  color: #ffffff;
  margin-bottom: 20px; }

.comments-list__description-text {
  font-family: "Ubuntu-Light";
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px; }

.comments__link {
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #2f3234;
  color: #fff;
  text-decoration: none;
  font-family: "Ubuntu-Medium";
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.order {
  background: url(../img/bg/bg-order-texture.png) center center no-repeat;
  background-size: cover;
  padding-top: 65px;
  font-family: "Ubuntu-Light";
  font-size: 14px;
  color: white; }

.order__title {
  text-align: center;
  margin-bottom: 65px;
  font-family: 'Gagalin-Regular';
  font-size: 72px;
  color: #f9b43b; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form__col {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.form__label-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 20px; }
  .form__label-wrapper:last-child {
    margin-right: 0; }

.form__checkbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px; }
  .form__checkbox-wrapper:last-child {
    margin-right: 0px; }

.form__input {
  border-radius: 5px;
  padding: 10px 5px; }

.form__radio {
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .form__radio:checked:before {
    content: '';
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: #e35028; }

.form__checkbox {
  margin-right: 10px;
  position: relative; }
  .form__checkbox:checked:before {
    content: '';
    display: block;
    width: 60%;
    height: 40%;
    border-bottom: solid 2px #e35028;
    border-left: solid 2px #e35028;
    position: absolute;
    top: 32%;
    left: 47%;
    -webkit-transform: translate(-50%, -50%) rotate(-60deg);
    -ms-transform: translate(-50%, -50%) rotate(-60deg);
    transform: translate(-50%, -50%) rotate(-60deg); }

.form__submit {
  font-family: "Ubuntu-Medium";
  font-size: 13px;
  margin-right: 10px;
  background-color: #e45028;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 9px;
  border-radius: 05px;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  border: none;
  cursor: pointer; }
  .form__submit:hover {
    opacity: 0.7; }

.form__reset {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer; }
  .form__reset:focus {
    outline: none;
    font-weight: bold; }
  .form__reset:hover {
    font-weight: bold; }

.map {
  background: url("../img/bg/map.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.footer {
  height: 60px;
  width: 100%;
  background: #0d0d0d;
  position: absolute;
  bottom: 0; }

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.footer-cont {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer-cont__address {
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    color: white; }
  .footer-cont__phone-link {
    font-family: 'Ubuntu-Bold';
    font-size: 14px;
    color: #e45028; }

.footer-social {
  padding-top: 20px;
  text-align: right;
  width: 50%;
  display: inline-block; }
  .footer-social__item {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px; }
  .footer-social:last-child {
    margin-right: 0px; }

.footer-social__icon {
  display: inline-block;
  overflow: hidden;
  width: 25px;
  height: 25px;
  fill: currentColor;
  color: #5a5a5a; }
  .footer-social__icon:hover {
    color: #fff; }

.aside-nav {
  position: fixed;
  top: 5.8125rem;
  right: 1.25rem;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .aside-nav {
      display: none; } }

.aside-nav__item {
  padding: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  border: 1px solid transparent; }
  .aside-nav__item .aside-nav__link {
    display: block;
    background-color: #fff;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%; }
  .aside-nav__item_active {
    border: 0.0625rem solid #fff; }
  .aside-nav__item:hover {
    border: 0.0625rem solid #fff; }

.intro-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.25rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.25rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .intro-menu-link {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; } }

.intro-menu-link__bars {
  background: #fff;
  width: 1.375rem;
  height: 0.25rem;
  border-radius: 0.125rem; }
  .intro-menu-link__bars:before {
    content: "";
    background: #fff;
    width: 1.375rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    display: block;
    position: absolute;
    top: 1px; }
  .intro-menu-link__bars:after {
    content: "";
    background: #fff;
    width: 1.375rem;
    height: 0.25rem;
    border-radius: 0.125rem;
    display: block;
    position: absolute;
    bottom: 1px; }

.humburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2f3234;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99;
  display: none;
  opacity: 0.95;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  .humburger-menu__logo {
    position: absolute;
    top: 0.625rem;
    left: 1.25rem; }
  .humburger-menu__close {
    position: absolute;
    top: 1.875rem;
    right: 1.25rem; }
  .humburger-menu__close-icon {
    fill: #fff; }
  @media screen and (max-width: 480px) {
    .humburger-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.nav-humburger__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav-humburger__item:after {
    display: inline-block;
    /*рисуем точки после li*/
    vertical-align: middle;
    content: '';
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #fff;
    margin: 0 0.75rem;
    /*ставим по центру между li*/ }
  .nav-humburger__item:last-child {
    margin-right: 0.9375rem;
    /*поставил отступ после крайней  li*/ }
    .nav-humburger__item:last-child:after {
      display: none;
      /*убрал точку после крайней  li*/ }

.nav-humburger__link {
  font-family: 'Gagalin-Regular';
  font-size: 1.5rem; }
