
@media screen and (max-width: 1200px) { // desktop  75rem
    html {
        font-size: 16px;
    }
    .container {
        min-width: rem(970px);
        width: 95%;
    }
}
@media (max-width: 992px) { // laptop 62rem
    html {
    font-size: 15px;
    }
    .container {
        min-width: rem(750px);
        width: 95%;
    }
}
@media (max-width: 768px) { // tablets  48rem
    html {
    font-size: 14px;
    }
    .container {
        min-width: rem(480px);
        width: 95%;
    }
    .aside-nav{
        display: none;
    }
    .intro__content{
        flex-direction: column;
    }
    .intro__drops, .intro__description{
        width: 100%;
    }
    .intro__img{
    max-width: 85%;
    }
}
@media (max-width: 480px) { // phones  30rem
    html {
    font-size: 12px;
    }
    .container {
        width: 95%;
    }
}