// colors

// resolution
$desctop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

// normalize

// media
@import "config/media";

// Config 
//@import "config/_variables";
@import "config/mixins"; //так как тут функция пересчёта, обязательно как можно выше подключаем

// Base
@import "layout/fonts";
@import "layout/base";
//@import "layout/_adjustment";

@import 'pages/intro';
@import 'pages/best';
@import 'pages/burgers';
@import 'pages/team';
@import 'pages/food-menu';
@import 'pages/comments';
@import 'pages/order';
@import 'pages/map';
@import 'pages/aside-nav';
@import 'pages/intro-menu';


//types
@import 'types/adaptive';


//@import '';

