
//боковая фиксированная панель навигации
//расположение панели навигации
.aside-nav{
    position: fixed;
    top: rem(93px);  //почему?  привёл к pixel perfect 
    right: rem(20px);
    z-index: 100;
    @include tablets{
        display: none;
    }
}
//оформление кружков
.aside-nav__item{
    padding: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 auto 5px auto;
    border: 1px solid transparent;
        .aside-nav__link{
            display: block;
            background-color: #fff;
            width: rem(6px);
            height: rem(6px);
            border-radius: 50%;
        }
        &_active{
            border: rem(1px) solid #fff;
        }
        &:hover{
            border: rem(1px) solid #fff;
        }
}

