.best{
    background: url(../img/bg/bestImg.png) center center no-repeat;
    background-size: cover; /*растягиваем на всю ширину окна*/
    padding-top: rem(70px);
    padding-bottom: rem(20px);
}

.best__title{
    font-family: "Gagalin-Regular";
    font-size: rem(72px);
    line-height: rem(64px);
    color: #2f3234;
    text-align: center;
    margin-bottom: rem(85px);
}
.best-list__item{
    display: inline-block;
    vertical-align: top; /*блоки в li по верху*/
    text-align: center;
    width: 33%;
    @include tablets{
        display: block;
    }
}
.best-list__img{
    margin-bottom: rem(30px);
}
.best-list__title{
    font-family: "Lifehack-Medium";
    font-size: rem(24.1px);
    color: #2f3234;
    margin-bottom: rem(10px);
}
.best-list__description{
    font-family: "Ubuntu-Light";
    font-size: rem(14.03px);
    line-height: rem(24.05px);
    color: #2f3234;
}