.best{
    background: url(../img/bg/bestImg.png) center center no-repeat;
    background-size: cover; /*растягиваем на всю ширину окна*/
    min-width: initial;
    height: 100%;
}
.best__title{
    font-family: "Gagalin-Regular";
    font-size: 72px;
    line-height: 64px;
    color: #2f3234;
    text-align: center;
    padding-top: 70px; 
    margin-bottom: 85px;
}
.best-list__item{
    display: inline-block;
    vertical-align: top; /*блоки в li по верху*/
    text-align: center;
    width: 33%;
}
.best-list__img{
    margin-bottom: 25px;
}
.best-list__title{
    font-family: "Lifehack-Medium";
    font-size: 24.1px;
    color: #2f3234;
    margin-bottom: 10px;
}
.best-list__description{
    font-family: "Ubuntu-Light";
    font-size: 14.03px;
    line-height: 24.05px;
    color: #2f3234;
}