.intro{
    background: url(../img/bg/video-bg.png) center center no-repeat;
    background-size: cover;
    min-width: initial;
    position: relative; // родитель для стрелки внизу
}

.header{
    /* border: 1px solid red; */
    padding-top: rem(10px);
    display: flex; /*задали flex*/
    align-items: center; /*flex центровка внутренних блоков по вертикали*/
    justify-content: space-between; /*flex выравниваем блоки внутри*/
        &__logo{
            margin-right: auto; /*flex оттолкнул все блоки вправо*/
            padding-top: rem(5px); //почему? отцентровал флексами и привёл к pixel perfect
        }
        &__menu{
            margin-top: rem(-8px); //почему? отцентровал флексами и привёл к pixel perfect отриц.маржином
            @include tablets{
                display: none;  //убрал для планшетов
            }
        }
        &__btn{
            display: flex;
            align-items: center;
            margin-top: rem(-3px); //почему? отцентровал флексами и привёл к pixel perfect отриц.маржином
        }
}

.logo, .nav-link, .order-link{
    display: block;
}
.nav__item{
    display: inline-block;
    vertical-align: middle; /*текст в li по центру*/
        &:after{
            display: inline-block; /*рисуем точки после li*/
            vertical-align: middle;
            content: ' ';
            width: rem(3px);
            height: rem(3px);
            border-radius: rem(1.5px);
            background-color: #fff;
            margin: 0 rem(12px); /*ставим по центру между li*/
        }
        &:last-child{
            margin-right: rem(15px); /*поставил отступ после крайней  li*/
                &:after{
                    display: none; /*убрал точку после крайней  li*/
                }
        }

    
}

.nav__link{
    font-family: "Ubuntu-Medium";
    font-size: rem(13px);
    text-transform: uppercase;
        &:hover{
            font-weight: bold;
        }
}
//кнопка заказать
.order-link{
    padding: rem(8px) rem(15px);
    border-radius: rem(5px);
    background-color: #e45028;
    color: #fff;
    text-decoration: none;
    font-family: "Ubuntu-Medium";
    font-size: rem(13px);
    text-transform: uppercase;
    transition: 1s;
        &:hover{
            opacity: 0.7;
        }
}

// попытка выравнивания
.intro__container{
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding-bottom: 15%;
}
.intro__content{
    display: flex;
    justify-content: center;
    align-items: center; /*flex центровка внутренних блоков по вертикали*/
    @include tablets{
        flex-direction: column;
    }
}
//картинка бургер
.intro__drops{
    width: 50%;
    padding-left: rem(15px);  //почему? привёл к pixel perfect
    @include tablets{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
.intro__img{
    margin-top: rem(-11px);  //почему? привёл к pixel perfect
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.intro__description{
    width: 50%;
    padding-top: rem(55px);   //почему? привёл к pixel perfect
    padding-left: rem(10px);  //почему? привёл к pixel perfect
    &-title{
        font-family: "Gagalin-Regular";
        font-size: rem(72px);
        line-height: rem(85px);
        color: #f9b43b;
    }
    &-text{
        display: inline-block;
        padding-top: rem(20px);
        font-family: "Lifehack-Medium";
        font-size: rem(65px);
        line-height: rem(62px);
        color: #ffffff;
        letter-spacing: rem(-1px);
    }
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        width: 100%;
    }
}

.intro-arrow{
    position: absolute;
    left: 0;
    right: 0;
    bottom: rem(50px);
    text-align: center;
}

.intro-arrow__icon{
    height: rem(20px);
    width: rem(35px);
    fill: red;
}