.map{
    background: url("../img/bg/map.png") center center no-repeat;
    background-size: cover;  //Масштабирование фона
    position: relative; //для позиционирования футера
    min-width: initial;
}
.footer{
    height: 60px;
    width: 100%;
    background: #0d0d0d;
    position: absolute;
    bottom: 0;
}
.footer-container{
    display: flex;
    height: 100%;
}
.footer-cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

        &__address{
            font-family: 'Ubuntu-Light';
            font-size: 14px;
            color: white;
        }
        &__phone-link{
            font-family: 'Ubuntu-Bold';
            font-size: 14px;
            color: #e45028;
        }
}
.footer-social{
    padding-top: 20px;
    text-align: right;
    width: 50%;
    display: inline-block;
        &__item{
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
            &:last-child{
                margin-right: 0px;
            }
}


// стили для svg
.footer-social__icon{
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    fill: currentColor;
    color: #5a5a5a;
        &:hover{
           color: #fff;
        }
}

