.full-review__wrapp{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2f3234;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0.95;
	transition: opacity .3s;
	display: flex;
}
.popup-comm{
    display: none;
}
.full-review{
	// max-width: rem(400px);
	width: 50%;
    border-radius: rem(5px);
	padding: 25px 20px;
	position: relative;
	background-color: #fff;
	// border: 1px solid red;
}
.full-review__title {
	font-family: 'Gagalin-Regular';
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: rem(20px);
}
.full-review__content {
    font-family: 'Ubuntu';
	font-size: 14px;
}

.full-review__close {
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: 1;
	}

	img {
		width: 100%;
		height: 100%;
	}
}


