.team {
    background: url("../img/bg/bg-team.png") center center no-repeat;
    background-size: cover;
    position: relative; 
    height: 100vh;     //переннести в base как section
    min-width: initial;
}

.team__content {
    width: 70.37037%;
    padding-top: 63px; 
    padding-left: 5px;  //почему? привёл к pixel perfect
}

.team__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 49%;  //почему? привёл к pixel perfect
    background: rgba(50, 52, 54, 0.9);
    display: flex;
    justify-content: center;
    align-content: center; 
    @include tablets{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%
    }
}

.team__title {
    font-family: 'Gagalin-Regular';
    font-size: 72px;
    color: #f9b43b;
    margin-bottom: 63px;
    text-align: center; 
}

.team-accordeon__content {
    margin-left: 18px;
    height: 0; //прячем контент аккордеона
    display: flex;
    flex-direction: row; 
    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}

.team-accordeon__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px; 
    &.activeTeam{
        margin-bottom: 25px;    //почему? привёл к pixel perfect
        .team-accordeon__title {
            color: #f9b43b; 
            &:before {
                transform: rotate(180deg); 
            }
        }
        .team-accordeon__content {
            height: auto; 
        }
    }
}

.team-accordeon__title {
    font-family: 'Gagalin-Regular';
    font-size: 14px;
    color: #fff;
    margin-bottom: 12px;
    display: flex;
    align-items: center; 
}
//рисуем треугольник
.team-accordeon__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: none;
    border-top-color: #f9b43b;
    margin-right: 10px; 
}



.team-accordeon__avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative; 
}

.team-accordeon__avatar-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; 
}

.team-accordeon__description {
    margin-left: 20px;
    padding-top: 2px;
    padding-right: 5px;   //почему? привёл к pixel perfect
}

.team-accordeon__desc-occupation {
    font-family: 'Ubuntu-Bold';
    font-weight: 900;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px; 
    text-align: center;
}

.team-accordeon__desc-text {
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 10px; 
    text-align: center;
}
