html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: rem(14px);
    line-height: 1.42;
    position: relative;
}
.wrapper {
    min-height: 100%;
    height: 100%;  //для one p.scroll убрал прокрутку
    overflow: hidden;  //всё что вылазим обрезаем
    /* min-width: 1100px; ширина макета */
}
.main-content{
    position: relative;
    // top: -100%; //будет пересчитывать всё расположение и есть ресурсы
    height: 100%; //для translateY он работает от элемента
    min-height: rem(650px);
    // transform: translateY(-100%);  будем менять через js
    transition: transform 1s;
    will-change: transform;
}
.container{
    max-width: 940px;
    width: 95%;
    // border: 1px solid red;
    margin: 0 auto;
    @include tablets{
        width: 90%;
    }
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}
 * {
    box-sizing: border-box;
} 
img {
    max-width: 100%;
    height: auto;
}
.section {
    height: 100vh;   //- не всегда коректно работают на мобильных
    height: 100%;
    min-height: rem(650px);
    background-color: rgba(0, 0, 0, 0.31);
    min-width: rem(940px);
    
}
a {
    color: white;
    text-decoration: none;
}

// @media screen and (max-width: 480px){

// }